<div class="container">
    <div class="py-sm-4">
        <h4>Links</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://retroshare.cc/">Retroshare</a> - The official Retroshare client
            </li>
            <li class="list-group-item">
                <a href="https://retroshare.cc/">Xeres</a> - An alternative client
            </li>
            <li class="list-group-item">
                <a href="https://retrosharedocs.readthedocs.io/en/latest/">Documentation</a> - learn your way into Retroshare
            </li>
            <li class="list-group-item">
                <a href="https://github.com/zapek/Chatserver">Chatserver Github repository</a> - the source code
            </li>
            <li class="list-group-item">
                <a href="https://zapek.com/">Zapek</a> - the server's author
            </li>
        </ul>
    </div>
</div>
